@model MRP_Ratboy.Models.memoriaRAM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutMenuAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>memoriaRAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.velocidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.velocidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costoVendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoVendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costoVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.watts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.watts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoMemoria.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoMemoria.tipo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
