@model IEnumerable<MRP_Ratboy.Models.memoriaRAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenuAdmin.cshtml";
}

<h2>Memorias RAM</h2>

<p class="btn btn-info" style="cursor:pointer;">
    @Html.ActionLink("NUEVO", "Create", null, 
     new { @style="text-decoration: none; color: #fff;" })
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.velocidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costoVendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costoVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.watts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoMemoria.tipo)
            </th>
            <th></th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.velocidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costoVendedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costoVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.watts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoMemoria.tipo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idRAM }, new { @class="btn btn-info" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idRAM }, new { @class="btn btn-info" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idRAM }, new { @class="btn btn-danger" })
                </td>
            </tr>
        }

</table>
