@model IEnumerable<MRP_Ratboy.Models.Perfiles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenuAdmin.cshtml";
}

<h2>Perfiles</h2>

<p class="btn btn-info" style="cursor:pointer;">
    @Html.ActionLink("NUEVO", "Create", null, 
     new { @style="text-decoration: none; color: #fff;" })
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.estatus)
            </th>
            <th></th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.estatus)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idPerfil }, new { @class="btn btn-info" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idPerfil }, new { @class="btn btn-info" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idPerfil }, new { @class="btn btn-danger" })
                </td>
            </tr>
        }

</table>
