@model IEnumerable<MRP_Ratboy.Models.Perfiles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEnsamble_FK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idEnsamble_FK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPerfil }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPerfil }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPerfil })
        </td>
    </tr>
}

</table>
