@model IEnumerable<MRP_Ratboy.Models.Almacenamiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenuAdmin.cshtml";
}

<h2>Almacenamiento</h2>

<p class="btn btn-info" style="cursor:pointer;">
    @Html.ActionLink("NUEVO", "Create", null, 
     new { @style="text-decoration: none; color: #fff;" })
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                Nombre  
            </th>
            <th>
                Capacidad
            </th>
            <th>
                Costo de compra al proveedor
            </th>
            <th>
                Costo de venta
            </th>
            <th>
                Estatu
            </th>
            <th>
                RPM
            </th>
            <th>
                Marca
            </th>
            <th>
                Tipo de almacenamiento
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.capacidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costoProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costoVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rpm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca1.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoAlmacenamiento.nombre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idAlmacenamiento }, new { @class="btn btn-info" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idAlmacenamiento }, new { @class="btn btn-info" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idAlmacenamiento }, new { @class="btn btn-danger" })
                </td>
            </tr>
        }

</table>
