@model MRP_Ratboy.Models.Usuarios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoElectronico.idUsuario_FK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoElectronico.idUsuario_FK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_usuarios.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_usuarios.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
