@model MRP_Ratboy.Models.detalleGeneracionProcesador

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>detalleGeneracionProcesador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DetalleGeneracionProcesador1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetalleGeneracionProcesador1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idGeneracionProcesador }) |
    @Html.ActionLink("Back to List", "Index")
</p>
