@model MRP_Ratboy.Models.Usuarios
@{
    ViewBag.Title = "Inciar Session";
    Layout = null;


}
@*<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iniciar Sesion</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @section Styles {
        <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" type="text/css" />
    }
</head>*@
<body style="background-color:aquamarine">
    @using (Html.BeginForm("Autorizacion", "Home", FormMethod.Post))
    {
        <div class="container">
            <div class="row">
                <div class='col-md-3'></div>
                <div class="col-md-6">
                    <div class="login-box well" >
                        <form action="">
                            @{
                                if (ViewBag.Error != null)
                                {
                                    <div class="alert alert-dismissible alert-danger">
                                        <strong>@ViewBag.Error</strong> 
                                        <a href="@Url.Action("RecuperarContraseña", "Register")" class="alert-link">Restablecer Contraseña</a>
                                    </div>
                                }
                            }
                            <legend>INICIO DE SESION</legend>
                            <div class="form-group">
                                <label>Correo Electronico</label>
                                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Correo Electronico", @type = "text"} })
                            </div>
                            <div class="form-group">
                                <label>Contraseña</label>
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contraseña", @type = "password"} })
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-success" value="Iniciar Sesion" />
                            </div>
                            <div class="form-group">
                                <p class="text-center m-t-xs text-sm">¿No tienes una cuenta?</p>
                                <button type="button" onclick="location.href='@Url.Action("Create", "Register")'" class="btn btn-default btn-lg btn-block">Crear Cuenta</button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class='col-md-3'></div>
            </div>
        </div>
    }

</body>
@*</html>*@

