@model MRP_Ratboy.Models.PlacaMadre

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMenuAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PlacaMadre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxVelocidadMemoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxVelocidadMemoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusM2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusM2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadM2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadM2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gaming)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gaming)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codBarras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codBarras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCIexpress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCIexpress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SATA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SATA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costoProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costoVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.watts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.watts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.socket.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.socket.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamaño.nombreTamaño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamaño.nombreTamaño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoMemoria.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoMemoria.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPlacaMadre }) |
    @Html.ActionLink("Back to List", "Index")
</p>
