@model MRP_Ratboy.Models.Ensamble

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ensamble</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idPlacaMadre_FK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPlacaMadre_FK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Almacenamiento.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Almacenamiento.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fuentePoder.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fuentePoder.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gabinete.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gabinete.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogEmpleado.idEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogEmpleado.idEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memoriaRAM.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memoriaRAM.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modeloVideo.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modeloVideo.modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.procesador.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.procesador.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEnsamble }) |
    @Html.ActionLink("Back to List", "Index")
</p>
