@model IEnumerable<MRP_Ratboy.Models.Tamaño>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenuAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreTamaño)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estatus)
            </th>
            <th></th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreTamaño)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idTamaño }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idTamaño }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idTamaño })
                </td>
            </tr>
        }

</table>
