@model MRP_Ratboy.Models.UsuariosAdmin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMenuAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UsuariosAdmin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRole.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRole.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUserAdmin }) |
    @Html.ActionLink("Back to List", "Index")
</p>
