<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/fonts/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/css/Style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Enlace para iconos -->
    <script src="https://kit.fontawesome.com/ce32f95b11.js"></script>
    <title>RATBOY - Admin</title>
</head>
<body style="text-decoration: none!important">
    <div class="row">
        <div class="container">
            <!-- Vertical navbar -->
            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/Content/images/LogoRatBoy.png" alt="..." width="80" class="mr-3">
                        <div class="media-body">
                            <h4 class="m-0">RATBOY</h4>
                            <p class="font-weight-light text-muted mb-0">@User.Identity.Name</p>
                        </div>
                    </div>
                </div>
                <!--USUARIOS-->
                <p class="text-dark font-weight-bold text-uppercase px-3 small pb-0 mb-0">Usuarios</p>
                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","UsuariosAdmins")" class="nav-link text-dark font-italic">
                            <i class="fas fa-chart-line pr-2"></i>
                            Overview
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Usuarios")" class="nav-link text-dark font-italic">
                            <i class="fas fa-user-friends pr-2"></i>
                            Clientes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","UsuariosAdmins")" class="nav-link text-dark font-italic">
                            <i class="fas fa-robot pr-2"></i>
                            Empleados
                        </a>
                    </li>
                </ul>

                <!--COMPONENTES-->
                <p class="text-dark font-weight-bold text-uppercase px-3 small pb-0 mb-0">Componentes</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","procesadors")" class="nav-link text-dark font-italic">
                            <i class="fas fa-microchip pr-2"></i>
                            Procesador
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <a href="@Url.Action("Index","Disipador")" class="nav-link text-dark font-italic">
                            <i class="fas fa-temperature-low pr-2"></i>
                            Disipador
                        </a>
                    </li>*@
                    <li class="nav-item">
                        <a href="@Url.Action("Index","memoriaRAMs")" class="nav-link text-dark font-italic">
                            <i class="fas fa-memory pr-2"></i>
                            Memoria RAM
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Almacenamiento")" class="nav-link text-dark font-italic">
                            <i class="fas fa-hdd pr-2"></i>
                            Almacenamiento
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Gabinetes")" class="nav-link text-dark font-italic">
                            <i class="fas fa-chess-rook pr-2"></i>
                            Gabinete
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","fuentePoders")" class="nav-link text-dark font-italic">
                            <i class="fas fa-plug pr-2"></i>
                            Fuente de poder
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","tarjetaVideos")" class="nav-link text-dark font-italic">
                            <i class="fas fa-photo-video pr-2"></i>
                            Tarjeta de vídeo
                        </a>
                    </li>
                </ul>

                <!--ENSAMBLES-->
                <p class="text-dark font-weight-bold text-uppercase px-3 small pb-0 mb-0">Ensambles</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Ensamble")" class="nav-link text-dark font-italic">
                            <i class="fas fa-puzzle-piece pr-2"></i>
                            PCs Armadas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Perfiles")" class="nav-link text-dark font-italic">
                            <i class="fas fa-id-badge pr-2"></i>
                            Perfiles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Perfil_Ensamble")" class="nav-link text-dark font-italic">
                            <i class="far fa-id-badge pr-2"></i>
                            Perfil ensamble
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","cuelloBotellas")" class="nav-link text-dark font-italic">
                            <i class="fas fa-wine-bottle pr-2"></i>
                            Cuellos de botella
                        </a>
                    </li>
                </ul>

                <!--PEDIDOS-->
                @*<p class="text-dark font-weight-bold text-uppercase px-3 small pb-0 mb-0">Pedidos</p>*@

                <ul class="nav flex-column bg-white mb-0">
                    @*<li class="nav-item">
                        <a href="@Url.Action("Index","Pedidos")" class="nav-link text-dark font-italic">
                            <i class="fas fa-truck-moving pr-2"></i>
                            Pedidos pendientes
                        </a>
                    </li>*@

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Logout","Admin")" class="nav-link text-dark font-italic">
                                <i class="fas fa-sign-out-alt pr-2"></i>
                                Cerrar sesión
                            </a>
                        </li>
                    }
                </ul>
                <footer class="bg-dark mb-0 p-2">
                    <p class="text-white font-weight-bold">&copy; @DateTime.Now.Year - Ratboy</p>
                </footer>
            </div>
            <!-- End vertical navbar -->
            <!-- Page content holder -->
            <div class="page-content p-5" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menú</small></button>

                <!-- Content -->
                @RenderBody()
                <hr />
            </div>
            <!-- End Content -->
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/Script.js"></script>
</body>
</html>